<app-header></app-header>
<div class="frame1"></div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<body>

   <div  class="container">
    <div class="vertical-center">
    <iframe src="https://isstracker.pl/widget/map?disableInfoBox=1&lang=en"  ></iframe>

    <button id="buton" type="button" onclick="window.location='http://www.google.com';"> esto es un boton</button>
</div>
</div>
 </body>


